body{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;
    margin: 0;
}
#card_container{
    display:  flex;
    justify-content: space-between;
    background: #f0efef;
    width: 50%;
}
#img_container{
    display: flex;
    width: 35%;
}
#img_container img{
    
    width: 100%;
    height: auto;
}
#desc_container{
    flex: 1;
    display:  flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
    justify-content: center;
}
#desc_container h5{
    text-align: center;
    margin: 0;
    font-size: 1.5em;
}
#desc_container span{
    color: #4a4953;
    font-weight: 700;
}
#desc_container article{
    text-align: center;
    outline: none;
}

#desc_container button{
    border: none;
    padding: 0.3em;
    font-weight: 600;
    font-size: 0.9em;
    cursor: pointer;
    background-color: #eadb8f;
}
@media(max-width: 700px){
    #card_container{
        flex-direction: column;
    }
    #img_container{
        width: 100%;
    }
}

@media (max-width: 975px ) and (min-width: 710px) {
    #img_container{
        width: 50%;
    }
}


